expanded/FILE_TRANSFER_SAMPLE_01.00.0001/icspackage/project/FILE_TRANSFER_SAMPLE_01.00.0001/resources/scheduledOrc/BpelContext.xsd

<xsd:schema targetNamespace="http://xmlns.oracle.com/ics/scheduler/bpelcontext" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/ics/scheduler/bpelcontext" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://xmlns.oracle.com/ics/scheduler">  <xsd:element name="BpelContext">    <xsd:complexType>      <xsd:sequence>        <xsd:element ref="Scope" minOccurs="0" maxOccurs="1"/>      </xsd:sequence>    </xsd:complexType>  </xsd:element>  <xsd:element name="Scope">    <xsd:complexType>      <xsd:sequence>        <xsd:element name="scopeName" type="xsd:string"/>        <xsd:element ref="Variables"/>        <xsd:element ref="Scope" minOccurs="0" maxOccurs="unbounded"/>      </xsd:sequence>    </xsd:complexType>  </xsd:element>  <xsd:element name="Variables">    <xsd:complexType>      <xsd:sequence>        <xsd:element name="Variable" minOccurs="0" maxOccurs="unbounded">          <xsd:complexType>            <xsd:sequence>              <xsd:element name="name" type="xsd:string"/>              <xsd:element name="value" type="xsd:string"/>            </xsd:sequence>          </xsd:complexType>        </xsd:element>      </xsd:sequence>    </xsd:complexType>  </xsd:element></xsd:schema>