expanded/FILE_TRANSFER_SAMPLE_01.00.0001/icspackage/project/FILE_TRANSFER_SAMPLE_01.00.0001/resources/scheduledOrc/FileARecovery.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/ics/scheduler" xmlns="http://www.w3.org/2001/XMLSchema">  <element name="process" type="anyType"/>  <element name="processResponse">    <complexType>      <sequence>        <element name="result" type="string"/>      </sequence>    </complexType>  </element></schema>